// Place all the styles related to the Slot controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$width: 75px;
$height: #{$width * 1.8};
$translate: 25px;

.color {
	border-color: rgba(46, 148, 216, 0.9) !important;
	background-color: rgba(46, 148, 216, 0.2) !important;
}

.arrow-box {
	padding: 0 8px;
	width: 24px;
	border: 1px solid black;
	position: absolute;
	left: 50px;
}

.arrow-box::after {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	top: 50%;
	left: 100%;
	margin-top: -10px;
	border-top: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid black;
}

.vertical-text {
	width: 1px;
	word-wrap: break-word;
	white-space: pre-wrap;
}

.slot.rotate-clockwise {
	border-top: 2px solid rgb(127, 127, 127);
	border-left: 2px solid rgb(127, 127, 127);
	border-right: 2px solid rgb(127, 127, 127);
	width: $width;
	height: $height;
	float: left;
	margin-left: 1.2em;
	margin-right: 1.2em;
	background: none;
}
.slot.rotate-anticlockwise {
	border-bottom: 2px solid rgb(127, 127, 127);
	border-left: 2px solid rgb(127, 127, 127);
	border-right: 2px solid rgb(127, 127, 127);
	width: $width;
	height: $height;
	float: left;
	margin-left: 1.2em;
	margin-right: 1.2em;
	background: none;
}

.row-1 .rotate-clockwise {
	transform: rotate(45deg);
}

.row-2 .rotate-anticlockwise {
	transform: translateY(30px) translateX(20px) rotate(-45deg);
}

.row-3 .rotate-clockwise {
	transform: translateY(-25px) translateX(-37px) rotate(45deg);
}

.row-4 .rotate-anticlockwise {
	transform: rotate(-45deg);
}


// top control
// https://codepen.io/johnfinkdesign/pen/NRyBZb
.input-group-addon {
  cursor: pointer;
}

.form-control {
  border: 1px solid #ccc;
  box-shadow: none;
  &:hover, &:focus, &:active {
    box-shadow: none;
  }
  &:focus {
    border: 1px solid #34495e;
  }
}


h1 {
  color: #333;
  font-family: 'Pacifico', cursive;
  font-size: 28px;
  line-height: 42px;
  margin: 0 0 15px;
  text-align: center;
}

.content {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075), 0 2px 4px rgba(0, 0, 0, 0.0375);
  padding: 30px 30px 20px;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
  border: 1px solid #34495e;
  border-radius: 0;
  box-shadow: none;
  margin: 10px 0 0 0;
  padding: 0;
  min-width: 300px;
  max-width: 100%;
  width: auto;
  &.bottom:before,
  &.bottom:after {
    display: none;
  }
  table td,
  table th {
    border-radius: 0;
  }
  table td.old, table td.new {
    color: #bbb;
  }
  table td.today:before {
    border-bottom-color: #0095ff;
  }
  table td.active,
  table td.active:hover,
  table td span.active {
    background-color: #0095ff;
    text-shadow: none;
    
    &.today:before {
      border-bottom-color: #fff;
    }
  }
  table th {
    height: 40px;
    padding: 0;
    width: 40px;
    &.picker-switch {
      width: auto;
    }
  }
  table tr:first-of-type th {
    border-bottom: 1px solid #34495e;
  }
  table td.day {
    height: 32px;
    line-height: 32px;
    padding: 0;
    width: auto;
  }
  table td span {
    border-radius: 0;
    height: 77px;
    line-height: 77px;
    margin: 0;
    width: 25%;
  }
  .datepicker-months tbody tr td,
  .datepicker-years tbody tr td,
  .datepicker-decades tbody tr td {
    padding: 0;
  }

  .datepicker-decades tbody tr td {
    height: 27px;
    line-height: 27px;

    span {
      display: block;
      float: left;
      width: 50%;
      height: 46px;
      line-height: 46px !important;
      padding: 0;
      &:not(.decade) {
        display: none;
      }
    }
  }
  .timepicker-picker table td {
    padding: 0;
    width: 30%;
    height: 20px;
    line-height: 20px;
    &:nth-child(2) {
      width: 10%;
    }
    a,
    span,
    button {
      border: none;
      border-radius: 0;
      height: 56px;
      line-height: 56px;
      padding: 0;
      width: 100%;
    }
    span {
      color: #333;
      margin-top: -1px;
    }
    button {
      background-color: #fff;
      color: #333;
      font-weight: bold;
      font-size: 1.2em;
      &:hover {
        background-color: #eee;
      }
    }
  }
}
.bootstrap-datetimepicker-widget.dropdown-menu .picker-switch table td {
  border-top: 1px solid #34495e;
  a, span {
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0;
    width: 100%;
  }
}
.todayText:before {
  content: "Today's Date"
}
