<%= stylesheet_link_tag "slots" %>

<div class="d-flex flex-column justify-content-center">
	<h2 class="text-center">Select a slot</h2>
	<div class="container-fluid d-flex flex-column justify-content-around align-items-center" style="height:50vh;position:relative">
		<div class="arrow-box">
			<p class="vertical-text" style="left:50px">Entry</p>
		</div>
		<div class="row-1">
			<div class="card slot free rotate-clockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot rotate-clockwise">
				<div class="card-body">
					<p class="card-title text-center"><%= fa_icon("car 2x")%></p>
				</div>
			</div>
			<div class="card slot free rotate-clockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot  rotate-clockwise">
				<div class="card-body">
					<p class="card-title text-center"><%= fa_icon("motorcycle 2x")%></p>
				</div>
			</div>
			<div class="card slot free rotate-clockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-clockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-clockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-clockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-clockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
		</div>

		<div class="row-2" >
			<div class="card slot free rotate-anticlockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-anticlockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-anticlockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-anticlockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-anticlockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-anticlockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-anticlockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-anticlockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-anticlockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
		</div>

		<%# <div class="row-3" style="display:none">
			<div class="card slot free rotate-clockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-clockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-clockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-clockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-clockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-clockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-clockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-clockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-clockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
		</div> %>

		<%# <div class="row-4" style="display:none">
			<div class="card slot free rotate-anticlockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-anticlockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-anticlockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-anticlockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-anticlockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-anticlockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-anticlockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-anticlockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
			<div class="card slot free rotate-anticlockwise">
				<div class="card-body">
					<p class="card-title text-center">Free Slot</p>
				</div>
			</div>
		</div> %>
	</div>

	<div class="text-center mt-4">
		<button class="btn btn-outline-primary submit" disabled> Book</button>
	</div>
</div>

<script>
	var addclass = 'color';
	var $cols = $('.slot.free').on('click', function (e) {
		$cols.removeClass(addclass);
		$(this).addClass(addclass);
		$('.submit').prop('disabled', false);
	});
</script>
